<h1>Welcome to the Edtech Map</h1>
<div>Click on the map sections to zoom in. Click on the center to zoom out</div>
<div id="map">
</div>
<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script src="/js/edtechmap.js" type="text/javascript"></script>